.container {
  padding: 1rem;
}

.back {
  font-size: 14px;
  cursor: pointer;
}
.backArrow {
  padding-top: 0.25rem;
}
.patentList {
  max-height: 300px;
  overflow: scroll;
  border: 1px solid grey;
  padding: 0 0.5rem;
}

.patentInfo {
  padding: 0.5rem 0;
}
